<p id="notice"><%= notice %></p>

Upload <%=link_to @upload.upload_file_name %> has been parsed.
<br></br>
<%= @parser.variant_rows.length %> rows have been found.

<%= link_to 'List variants', variants_path %>

