
	<tr>
	  <th class="header gene" >
	  	Gene id:
	  </th>
		<th class="header gene" >
			External Gene Id:
  	</th>
  	<th class="header gene" >
			Ensembl Gene Id:
  	</th>
  	<th class="header gene" >
		  Transcript Count:
  	</th>
  </tr>
  <tr>
    <td>
    	<%= gene_row.id %>
    </td>
  	<td>
  		<%= gene_row.external_gene_id %>
  	</td>
  	<td>
  		<%= gene_row.ensembl_gene_id %>
  	</td>
  	<td>
  		<%= gene_row.transcript_count %>
  	</td>
  </tr>
  
