<table>
	<tr>
	  <th class="header gene" >
	  	Gene id:
	  </th>
		<th class="header gene" >
			External Gene Id:
  	</th>
  	<th class="header gene" >
			Ensembl Gene Id:
  	</th>
  	<th class="header gene" >
		  Transcript Count:
  	</th>
  </tr>
  <tr>
    <td>
      <%= link_to gene.id, gene_path(gene)  %>
    </td>
  	<td>
  		<%= gene.external_gene_id %>
  	</td>
  	<td>
  		<%= gene.ensembl_gene_id %>
  	</td>
  	<td>
  		<%= gene.transcript_count %>
  	</td>
  </tr>
</table> 
